<h1>Add New Send Record</h1>
<%= simple_form_for Record.new do |f| %>
  <%= f.input :sn, label: 'S.N.' %>
  <%= f.input :kba, label: 'Capacity(kVA)' %>
  <%= f.input :tr_sn, label: 'TR Serial No.' %>
  <%= f.input :company_name %>
  <%= f.input :send_date %>
  <%= f.input :dismn_place, label: 'Dismantalled Place' %>
  <%= f.input :get_pass, label: 'Send Gate Pass No.' %>
  <%= f.input :remarks %>

  <%= f.submit 'Create Record', class: 'btn btn-success' %>
<% end %>