
<div class = "panel panel-default">
	<div class = "panel-body">
		<h1 class="float-right">No. of Transformer Sent for Maintenance to Factory: <%= Record.madhav %></h1>
	</div>
</div>
<div class="row">
  <div class="col-xs-6"><h1>Sent Transformer</h1></div>
  <div class="col-xs-6"><%= link_to 'New Record', new_record_path, class: 'float-right btn btn-md btn-success' %></div>
</div>

<div class = "panel panel-default">
	<div class = "panel-body">
		<blockquote>
			<div class="table-responsive">
				<table class = "table table-bordered">
					<thead>
						<tr>
						  <th>S.N.</th>
		                  <th>Capacity(kVA)</th>
		                  <th>TR Serial No.</th>
		                  <th>Company Name</th>
		                  <th>Send Date</th>
		                  <th>Dismantalled Place</th>
		                  <th>Send Gate Pass No.</th>
		                  <th>Remarks</th>
		                </tr>
					</thead>
					<% if @records.exists? %>
						<tbody>
							<% @records.each do |record| %>
							  <tr>
							  	  <td><%= record.sn %></td>
							  	  <td><%= record.kba %></td>
								  <td><%= record.tr_sn %></td>
								  <td><%= record.company_name %></td>
								  <td><%= record.send_date %></td>
								  <td><%= record.dismn_place %></td>
								  <td><%= record.get_pass %></td>
								  <td><%= record.remarks %></td>
								  <!--
								  <td><%= link_to 'Edit', edit_record_path(record), class: 'btn btn-warning'%></td>
								  <td><%= link_to 'Delete', record_path(record), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %></td>
								  -->
							  	</tr>
							<% end %>
						</tbody>
					<% else %>
						<p class="alert alert-danger text-center">No record found!</p>
					<% end %>
				</table>
			</div>
		</blockquote>
		
	</div>

	<div class = "text-center">
		<%= will_paginate @records %>
	</div>
</div>